@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face{
    font-family: GothamHTF;
    src: url(../fonts/GothamHTF-Book.otf);
}

@font-face{
    font-family: GothamHTF;
    src: url(../fonts/GothamHTF-Medium.otf);
    font-weight: medium;
}

@font-face{
    font-family: GothamHTF;
    src: url(../fonts/GothamHTF-Bold.otf);
    font-weight: bold;
}

*{
    margin: 0;
	padding: 0;
	border: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    white-space: nowrap;
}

body{
    background-color: black;
}

#header{
    display: flex;
    background-color: #151819;
    height: 9vh;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}

#img_logo_fiap {
    height: 50%;
    margin-left: 15vw;
}

.header_links{
    text-decoration: none;
    color: #85969f;
    font-family: GothamHTF;
    font-weight: medium;
}

#header_botao {
    font-family: GothamHTF;
    font-weight: lighter;
    height: 40px;
    width: 143px;
    background-color: rgb(21, 24, 25);
    color: rgb(237, 20, 91);
    border: 1px solid rgb(237, 20, 91);
    cursor: pointer;
    font-size: 11px;
    margin-right: 14vw;
}

#header_botao:hover{
    background-color: #ed145b;
    color: white;
}

#img_globo {
    height: 100%;
    width: 100%;
    margin-top: -4vh;
}

#main_wrapper_introcurso{
    color: #91a3ad;
}

#main_wrapper_texto1 {
    position: absolute;
    width: 856px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 39vh;
    font-size: 63px;
    letter-spacing: 3.5px;
    font-weight: 500;
}

#main_wrapper_texto2 {
    width: 1200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 48vh;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 44px;
}

#main_botao{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 60vh;
    height: 40px;
    width: 166px;
    color: rgb(237, 20, 91);
    border: 1px solid rgb(237, 20, 91);
    cursor: pointer;
    font-size: 11px;
    background-color: transparent;
}

#main_botao:hover{
    background-color: #ed145b;
    color: white;
}


