@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face{
    font-family: GothamHTF;
    src: url(../fonts/GothamHTF-Book.otf);
    font-weight: 100;
}

@font-face{
    font-family: GothamHTF;
    src: url(../fonts/GothamHTF-Medium.otf);
    font-weight: 300;
}

@font-face{
    font-family: GothamHTF;
    src: url(../fonts/GothamHTF-Bold.otf);
    font-weight: 500;
}

*{
    margin: 0;
	padding: 0;
	border: 0;
    letter-spacing: 0.5px;
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

#header{
    display: flex;
    background-color: #151819;
    height: 9vh;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    font-family: GothamHTF;
    font-weight: 300;
    white-space: nowrap;
}

#img_logo_fiap {
    height: 50%;
    margin-left: 15vw;
}

.header_links{
    text-decoration: none;
    color: #85969f;
}

#header_botao {
    font-family: GothamHTF;
    font-weight: 100;
    height: 40px;
    width: 143px;
    background-color: rgb(21, 24, 25);
    color: rgb(237, 20, 91);
    border: 2px solid rgb(237, 20, 91);
    cursor: pointer;
    font-size: 11px;
    margin-right: 14vw;
}

#header_botao:hover{
    background-color: #ed145b;
    color: white;
}

#img_globo {
    height: 100%;
    width: 100%;
    margin-top: -4vh;
}

#main_wrapper_introducao{
    white-space: nowrap;
    color: #91a3ad;
    min-height: 1008px;
    font-family: GothamHTF;
}

#main_wrapper_texto1 {
    font-weight: 300;
    position: absolute;
    width: 856px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 39vh;
    font-size: 63px;
    letter-spacing: 3.5px;
}

#main_wrapper_texto2 {
    font-weight: 100;
    width: 1200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 48vh;
    letter-spacing: 1px;
    font-size: 44px;
}

#main_wrapper_botao{
    font-weight: 100;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 60vh;
    height: 40px;
    width: 166px;
    color: rgb(237, 20, 91);
    border: 2px solid rgb(237, 20, 91);
    cursor: pointer;
    font-size: 11px;
    background-color: transparent;
}

#main_wrapper_botao:hover{
    background-color: #ed145b;
    color: white;
}

#main_wrapper_texto3 {
    font-weight: 100;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 88vh;
    width: 103px;
    font-size: 11px;
}

#main_wrapper_scroll {
    border: 1px solid #ed145b;
    border-top: none;
    border-left: none;
    display: block;
    height: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 91vh;
    transform: rotate(45deg);
    width: 30px;
}

#main_curso {
    display: flex;
    min-height: 832px;
    color: #91a3ad;
    flex-direction: column;
}

#main_curso_titulo {
    font-family: GothamHTF;
    font-size: 50px;
    font-weight: 100;
    height: fit-content;
    width: 1200px;
    margin: 10% auto 0;
}

#main_curso_container {
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

#main_curso_esquerdo {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    width: 540px;
    line-height: 31px;
    height: 500px;
    white-space: normal;
    margin-right: 4%;
    font-weight: 400;
}

#main_curso_divisor {
    margin-top: -10px;
    height: 370px;
    background-color: #616d72;
    margin-right: 4%;
    width: 1px;
}

#main_curso_direito{
    width: 500px;
    height: 500px;
    font-family: GothamHTF;
}

#main_curso_direito_pretexto {
    color: #ed145b;
    margin-top: -40px;
    font-family: GothamHTF;
    font-weight: 300;
}

.main_curso_lista {
    font-weight: 100;
    color: #616d72;
    line-height: 31px;
    margin-top: 7%;
    list-style-type: none;
}

li{
    padding-left: 45px;
    position: relative;
}

li::before{
    background-color: #616d72;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 15px;
    width: 20px;
}

#main_matriz {
    display: flex;
    min-height: 800px;
    color: #91a3ad;
    font-family: GothamHTF;
    flex-direction: column;
}

#main_matriz_titulo {
    font-size: 48px;
    font-weight: 300;
    height: fit-content;
    width: 960px;
    margin: 7% auto 0;
}

#main_matriz_subtitulo {
    position: relative;
    font-size: 30px;
    font-weight: 100;
    height: fit-content;
    width: 770px;
    margin: 1% auto 0;
    color: #616d72;
}

#main_matriz_subtitulo::before {
    content: "";
    background-color: #616d72;
    width: 72px;
    height: 1px;
    position: absolute;
    top: 16px;
    right: 790px;
}

.main_matriz_menus {
    display: flex;
    width: 900px;
    height: 90px;
    padding-right: 2%;
    margin: 5% auto 0;
    align-items: center;
    cursor: pointer;
    border: 1px solid #91a3ad;
}

#main_matriz_menu1_pretexto{
    margin-left: 25%;
    width: max-content;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#main_matriz_botao1 {
    margin-left: 75%;
    border: 2px solid #ed145b;
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

#main_matriz_botao1::before {
    content: "";
    background-color: #ed145b;
    display: block;
    position: relative;
    height: 41%;
    top: 28%;
    left: 50%;
    margin-left: -1px;
    width: 2px;
}

#main_matriz_botao1::after {
    content: "";
    background-color: #ed145b;
    display: block;
    position: relative;
    height: 4%;
    bottom: -5%;
    left: 30%;
    margin-left: -1px;
    width: 22px;
}

#main_matriz_menu1.active{
    height: 400px;
    align-items: normal;
}

#main_matriz_menu1.active #main_matriz_menu1_span{
    margin-top: 3.4%;
}

#main_matriz_menu1.active #main_matriz_botao1{
    margin-top: 2%;
}

#main_matriz_menu1.active #main_matriz_botao1::before{
    height: 0;
}

#main_matriz_menu1.active #main_matriz_botao1::after{
    top: 47%;
    bottom: 0;
}

#main_matriz_menu1_titulo {
    color: #ed145b;
    letter-spacing: 1.6px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2%;
}

#main_matriz_menu1_titulo::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 145px;
    background-color: #ed145b;
    left: 47px;
    top: -6px;
}

#main_matriz_menu1_descricao {
    color: #616d72;
    letter-spacing: 0.4px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#main_matriz_menu1 #ativo1 {
    position: absolute;
    width: 730px;
    max-height: 0;
    overflow-y: auto;
    margin-top: 6%;
    padding: 0 23px 0 74px;
}

#main_matriz_menu1.active #ativo1 {
    overflow: initial;
}

#main_matriz_menu2_pretexto{
    margin-left: 25%;
    width: max-content;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#main_matriz_menu2{
    margin-top: 1%;
}

#main_matriz_botao2 {
    margin-left: 75%;
    border: 2px solid #ed145b;
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

#main_matriz_botao2::before {
    content: "";
    background-color: #ed145b;
    display: block;
    position: relative;
    height: 41%;
    top: 28%;
    left: 50%;
    margin-left: -1px;
    width: 2px;
}

#main_matriz_botao2::after {
    content: "";
    background-color: #ed145b;
    display: block;
    position: relative;
    height: 4%;
    bottom: -5%;
    left: 30%;
    margin-left: -1px;
    width: 22px;
}

#main_matriz_menu2.active{
    height: 400px;
    align-items: normal;
}

#main_matriz_menu2.active #main_matriz_menu2_span{
    margin-top: 3.4%;
}

#main_matriz_menu2.active #main_matriz_botao2{
    margin-top: 2%;
}

#main_matriz_menu2.active #main_matriz_botao2::before{
    height: 0;
}

#main_matriz_menu2.active #main_matriz_botao2::after{
    top: 47%;
    bottom: 0;
}

#main_matriz_menu2_titulo {
    color: #ed145b;
    letter-spacing: 1.6px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2%;
}

#main_matriz_menu2_titulo::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 145px;
    background-color: #ed145b;
    left: 47px;
    top: -6px;
}

#main_matriz_menu2_descricao {
    color: #616d72;
    letter-spacing: 0.4px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#main_matriz_menu2 #ativo2 {
    position: absolute;
    width: 730px;
    max-height: 0;
    overflow-y: auto;
    margin-top: 6%;
    padding: 0 23px 0 74px;
}

#main_matriz_menu2.active #ativo2 {
    overflow: initial;
}

#main_turmas {
    display: flex;
    min-height: 1008px;
    color: #91a3ad;
    font-family: GothamHTF;
    flex-direction: column;
}

#main_turmas_titulo {
    font-family: GothamHTF;
    font-size: 50px;
    font-weight: 300;
    height: fit-content;
    width: 380px;
    margin: 180px auto 0;
}

#main_turmas_titulo::after {
    content: "";
    background-color: #ed145b;
    width: 50px;
    height: 5px;
    left: 49%;
    margin-top: 2%;
    position: absolute;
    display: block;
}

#main_turmas_tabela {
    display: flex;
    width: 950px;
    height: 224px;
    margin: 7% auto 0;
    flex-direction: column;
    border: 1px solid #32383b;
    border-top: 0;
    border-right: 0;
    font-family: GothamHTF;
}

.main_turmas_tabela_secoes{
    width: 100%;
    height: 33%;
    display: flex;
    border: 1px solid #32383b;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.main_turmas_tabela_subsecoes{
    width: 20%;
    height: 100%;
    border: 1px solid #32383b;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    flex-direction: column;
}

.main_turmas_tabela_submeio{
    width: 26%; 
}

.main_turmas_tabela_sub1_textos{
    font-weight: 300;
}

.main_turmas_tabela_campus{
    color: #ed145b;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.main_turmas_tabela_duracao {
    font-size: 11px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.main_turmas_tabela_dias {
    text-align: center;
    padding: 6px;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 16px;
}

.main_turmas_tabela_horario{
    font-size: 11px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

#main_turmas_tabela_horario_periodo1{
    margin-right: 49px;
}

#main_turmas_tabela_horario_periodo2{
    margin-right: 53px;
}

.main_turmas_tabela_subhora{
    width: 18%;
}

.main_turmas_tabela_subfinal{
    width: 22%;
}

.main_turmas_tabela_valor{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

#main_turmas_tabela_aviso {
    position: absolute;
    color: #616d72;
    margin-top: 235px;
    font-size: 11px;
    font-family: 'Roboto';
    right: 25%;
    font-weight: 400;
}

#main_turmas_botao{
    margin-top: 80px;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 166px;
    color: rgb(237, 20, 91);
    border: 2px solid rgb(237, 20, 91);
    cursor: pointer;
    font-size: 12px;
    background-color: transparent;
}

#main_turmas_botao:hover{
    background-color: #ed145b;
    color: white;
}

